{extend name="layout/base"} {block name='title'}留言列表{/block} {block name='zhedie6'}zhediexian{/block} {block name="right-content"}
<div class="weizhi">
    <p>当前位置<i class="icon-chevron-right"></i><a href="{:url('admin/Message/messageList')}">留言列表</a></p>
</div>
<div class="neirong">
    <form>
        <table>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>内容</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            {volist name="res" id="vo"}
            <?php 
            $count--;
            if($count%2==0){
                $clssname="even";;
            }
            else{
                $clssname="old";
            }
            ?>
            <tr class="<?php echo($clssname);?>">
                <td>{$vo['mid']}</td>
                <td>{$vo['mname']}</td>
                <td class="text">
                    <p>{$vo['mcontent']}</p>
                </td>
                <td>{$vo['mdate']}</td>
                <td>
                    <a href="{:url('admin/Message/checkMessage',['id' => $vo['mid'],'p' => $id])}"><i class="icon-eye-open"></i>查看</a>
                    <a href="{:url('admin/Message/delete',['id' => $vo['mid']])}"><i class="icon-trash"></i>删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <div class="page">
            <a href="{:url('admin/Message/messageList',['id' => 1])}">首页</a>
            <a href="{:url('admin/Message/messageList',['id' => $pre])}">上一页</a>
            <a href="{:url('admin/Message/messageList',['id' => $next])}">下一页</a>
            <a href="{:url('admin/Message/messageList',['id' => $max])}">未页</a>
        </div>
    </form>
</div>
{/block}