<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>论坛帮助</title>
	</head>
	<script type="text/javascript" src="/static/js/js/jquery-3.3.1.min.js"></script>
	<link rel="shortcut icon" href="/static/img/logo.ico"/>
	<link rel="stylesheet" href="/static/css/css/public.css" />
	<link rel="stylesheet" href="/static/css/css/forum_help.css" />
	<body>
		<!-- forum_header begin 论坛头部-->
		{include file="../application/index/view/Forum/forum_header.html"}
		<!-- <script>
			$(document).ready(function(e){
				$("#forum_header").load("forum_header.html");
			});
		</script>
		<div id="forum_header"></div> -->
		<!-- forum_header end-->
		<!-- container begin -->
		<div id="container">
			<div class="index_tag">
				<a href="#">公司论坛</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="forum_help.html" style="color: #5E2B0C;">帮助</a>
			</div>
			<div class="help">
				<div class="text">
					<h2>如何使用公司论坛</h2>
					<p style="margin-top: 1%;">打开公司论坛并点击注册</p>
					<p>填写注册人基本信息，按要求注册即可</p>
					<p>直接输入信息登录进论坛</p>
					<p>在论坛个人中心一栏可以修改个人信息和完善个人信息</p>
					<p>点击搜索可以搜索论坛内的帖子</p>
					<p>点击帮助可以查看帮助</p>
					<p>在首页可以选择想要查看的区域，分别分为4个不同的区域，工作讨论区、员工摄影展、娱乐八卦区和员工意见区</p>
					<p>在每条帖子内可以发表个人的评论</p>
				</div>
			</div>
		</div>
		<!-- container end -->
		<!-- footer begin -->
		{include file="../application/index/view/Forum/forum_footer.html"}
		<!-- <div id="forum_footer"></div>
		<script>
			$(document).ready(function(e){
				$("#forum_footer").load("forum_footer.html");
			});
		</script> -->
		<!-- footer end -->
	</body>
</html>
