<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script type="text/javascript" src="/static/js/js/jquery-3.3.1.min.js"></script>
	<link rel="shortcut icon" href="/static/img/logo.ico"/>
	<link rel="stylesheet" href="/static/css/css/public.css" />
	<link rel="stylesheet" href="/static/css/css/forum_footer.css" />
	<body>
		<!-- footer begin -->
		<div id="forum_footer">
			<div id="forum_footer_under">
				<p>CopyRight © 2018-2019 Peck.com</p>
			</div>
		</div>
		<!-- footer end -->
	</body>
</html>
