<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>脚部</title>
	</head>
	<script type="text/javascript" src="/static/js/js/jquery-3.3.1.min.js"></script>
	<link rel="shortcut icon" href="/static/img/logo.ico"/>
	<link rel="stylesheet" href="/static/css/css/footer.css" />
	<body>
		<!-- footer begin -->
		<div id="footer">
			<div id="footer_top">
				<div class="under_list">
					<div class="under_list_nav">
						<ul>
							<li>
								<span class="title">公司介绍</span>
								<a href="#">公司概况</a>
								<a href="#">企业文化</a>
								<a href="#">公司理念</a>
								<a href="#">荣誉资质</a>
							</li>
							<li>
								<span class="title">新闻中心</span>
								<a href="#">公司新闻</a>
								<a href="#">行业动态</a>
							</li>
							<li>
								<span class="title">产品中心</span>
								<a href="#">客厅家具</a>
								<a href="#">书房家具</a>
								<a href="#">卧室家具</a>
								<a href="#">厨房家具</a>
							</li>
							<li>
								<span class="title">联系我们</span>
								<a href="#">网站地图</a>
								<a href="#">在线客服</a>
							</li>
							<li>
								<span class="title">公司论坛</span>
							</li>
						</ul>
					</div>
					<div class="company_code">
						<img src="/static/img/code.png"  width="80%" height="80%"/>
						<span>扫一扫！了解更多</span>
					</div>
				</div>
			</div>
			<div id="footer_under">
				<p>CopyRight © 2018-2019 Peck.com</p>
			</div>
		</div>
		<!-- footer end -->
	</body>
</html>
