<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>头部</title>
	</head>
	<script type="text/javascript" src="/static/js/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/js/js/nav.js"></script>
	<link rel="shortcut icon" href="/static/img/logo.ico"/>
	<link rel="stylesheet" href="/static/css/css/public.css" />
	<link rel="stylesheet" href="/static/css/css/header.css" />
	<body>
		<!-- header begin -->
		<div id="header">
			<div id="header_center">
				<a href="index.html" class="logo"></a>
				<!-- 头部导航栏 -->
				<ul class="nav">
					<li class="current">
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="company_introduction.html">公司介绍</a>
					</li>
					<li>
						<a href="news_list.html">新闻中心</a>
					</li>
					<li>
						<a href="product_center.html">产品中心</a>
					</li>
					<li>
						<a href="contact_us.html">联系我们</a>
					</li>
					<li>
						<a href="company_forum.html">公司论坛</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- header end -->
	</body>
</html>
