{extend name="layout/base2"} {block name='title'}添加版块{/block} {block name='zhedie2'}zhediexian{/block} {block name="right-content"}
<div class="weizhi">
    <p>当前位置<i class="icon-chevron-right"></i><a href="{:url('admin/Block/addBlock')}">添加版块</a></p>
</div>
<div class="neirong">
    <form action="/admin/Block/insert" method="post">
        <p>
            <label for="shuru1">分区名称：</label>
            <input type="text" name="blname" id="shuru1" class="shuru" placeholder="请输入分区名称" />
        </p>
        <p>
            <label for="shuru2">分区版主：</label>
            <select name="bluid" id="shuru2" class="shuru">
                {volist name="res" id="vo"}
                <option value="{$vo.uid}">{$vo['uname']}</option>
                {/volist}
            </select>
        </p>
        <p class="queren">
            <input type="submit" value="添加" class="subBtn" />
        </p>
    </form>
</div>
{/block}