{extend name="layout/base"} {block name='title'}添加新闻{/block} {block name='zhedie2'}zhediexian{/block} {block name="right-content"}
<div class="weizhi">
    <p>当前位置<i class="icon-chevron-right"></i><a href="{:url('admin/News/addNew')}">添加新闻</a></p>
</div>
<div class="neirong">
    <form action="/admin/News/insert" method="post" enctype="multipart/form-data">
        <p>
            <label for="shuru1">新闻标题：</label>
            <input type="text" name="ntitle" id="shuru1" class="shuru" placeholder="请输入新闻标题" />
        </p>
        <p>
            <label>新闻类型：</label>
            <input type="radio" name="nclass" id="xuanze1" value="公司新闻" checked />
            <label for="xuanze1" class="xuanze">公司新闻</label>
            <input type="radio" name="nclass" id="xuanze2" value="行业动态" radio />
            <label for="xuanze2" class="xuanze">行业动态</label>
        </p>
        <p>
            <label>封面图片：</label>
            <input type="file" name="npic" />
        </p>
        <p>
            <label>新闻内容：</label>
            <div class="textbox">
                <textarea name="ncontent" class="textshuru" placeholder="请输入新闻内容"></textarea>
            </div>
        </p>
        <p class="queren">
            <input type="submit" value="发布" class="subBtn" />
        </p>
    </form>
</div>
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="/static/ckfinder/ckfinder.js"></script>
<script>
var editor = CKEDITOR.replace("ncontent");
CKFinder.setupCKEditor(editor, '/static/ckfinder/');
</script>
{/block}