{extend name="layout/base"} {block name='title'}添加产品分类{/block} {block name='zhedie4'}zhediexian{/block} {block name="right-content"}
<div class="weizhi">
    <p>当前位置<i class="icon-chevron-right"></i><a href="{:url('admin/Productclass/addProductClassily')}">添加产品分类</a></p>
</div>
<div class="neirong">
    <form action="/admin/Productclass/insert" method="post">
        <p>
            <label for="shuru1">分类名称：</label>
            <input type="text" name="prcname" id="shuru1" class="shuru" placeholder="请输入分类名称" />
        </p>
        <p class="queren">
            <input type="submit" value="添加" class="subBtn" />
        </p>
    </form>
</div>
{/block}