<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>公司介绍</title>
	</head>
	<script type="text/javascript" src="/static/js/js/jquery-3.3.1.min.js"></script>
	<script language="JavaScript" src="/static/js/js/li_hover.js"></script>
	<link rel="shortcut icon" href="/static/img/logo.ico"/>
	<link rel="stylesheet" href="/static/css/css/public.css" />
	<link rel="stylesheet" href="/static/css/css/company_introduction_container.css" />
	<body>
		<!-- header begin -->
		{include file="../application/index/view/Index/header.html"}
		<!-- <script>
			$(document).ready(function(e){
				$("#header").load("header.html");
			});
		</script>
		<div id="header"></div> -->
		<!-- header end -->
		<!-- container begin -->
		<div id="container">
			<!-- post 海报-->
			<div class="poster">
				<h2>公司介绍/<label>About Us</label></h2>
			</div>
			<!-- introduction 介绍 -->
			<div class="introduction">
				<div class="classification">
					<ul>
						<li class="current">公司概况</li>
						<li>企业文化</li>
						<li>公司理念</li>
						<li>荣誉资质</li>
					</ul>
				</div>
				<div class="main">
					<div style="display: block;">
						<div class="text">
							<div class="nav_title">
								<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="#">公司介绍</a>&nbsp;>&nbsp;<a href="#" style="color: #5E2B0C;">公司概况</a>
							</div>
							<div class="content">
								<div class="company_name">
									<h2>挫啄实木家具有限公司</h2>
								</div>
								<div class="content_text">
									<p>
										拙琢实木家具有限公司，是一家采用国际最新技术，专业设计生产实木家具的企业。公司拥有专业设计团队和专业制做团队来打造出与国际接轨的抽琢品牌实木家具以其卓越的品质，精湛的工艺，完美的设计享誉业内自公司成立以来，一贯秉承品质为主，诚信待人，客户为首的企业经营理念，贯彻落实在每一名员工的身上。生产出书房，客厅卧房，餐厅四大系列的现代化实木家具。其产品原料主要来源美国，欧洲，马来西亚等地。使用水曲柳，柞木，橡木榉木胡桃木。等优质珍贵木材，生产出了大量绿色环保的纯天然的实木家具。受到了广大消费者的青睐与好评。
									</p>
									<p>
										拙琢实木家具有限公司，是一家采用国际最新技术，专业设计生产实木家具的企业。公司拥有专业设计团队和专业制做团队来打造出与国际接轨的拙琢品牌实木家具以其卓越的品质，精湛的工艺，完美的设计享誉业内自司成立以来，一贯秉承品质为主，诚信待人，客户为首的企业经营理念，贯彻落实在每一名员工的身上。
									</p>
									<p>
										拙琢实木家具有限公司，是一家采用国际最新技术，专业设计生产实木家具的企业。公司拥有专业设计团队和专业制做团队来打造出与国际接轨的拙琢品牌实木家具以其卓越的品质，精湛的工艺，完美的设计享誉业内自司成立以来，一贯秉承品质为主，诚信待人，客户为首的企业经营理念，贯彻落实在每一名员工的身上。拙琢实木家具有限公司，是一家采用国际最新技术，专业设计生产实木家具的企业。公司拥有专业设计团队和专业制做团队来打造出与国际接轨的拙琢品牌实木家具以其卓越的品质，精湛的工艺，完美的设计享誉业内自司成立以来，一贯秉承品质为主，诚信待人，客户为首的企业经营理念，贯彻落实在每一名员工的身上。
									</p>
								</div>
								<div class="modular">
									<ul class="clearfix">
										<li>
											<img src="/static/img/hq.png" width="100%" height="100%"/>
											<span class="title">公司总部</span>
											<p>公司拥有专业设计团队和专业制做团队来打造出与国际餐厅四大系列的现代化实木家具</p>
										</li>
										<li>
											<img src="/static/img/travel.png" width="100%" height="100%"/>
											<span class="title">旅游</span>
											<p>公司拥有专业设计团队和专业制做团队来打造出与国际接轨的`拙琢`品牌实木家具以其卓越</p>										
										</li>
										<li>
											<img src="/static/img/meeting_room.png" width="100%" height="100%"/>
											<span class="title">会议室</span>
											<p>专业设计生产实木家具的企业。公司拥有专业设计团队和专业品牌实木家具以其卓越的品质</p>										
										</li>
										<li>
											<img src="/static/img/co.png" width="100%" height="100%"/>
											<span class="title">合作关系</span>
											<p>客户为首的企业经营理念,贯彻落实在每一名员工的身上。餐厅四大系列的现代化实木家具。</p>										
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;">
						<div class="text">
							<div class="nav_title">
								<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="#">公司介绍</a>&nbsp;>&nbsp;<a href="#" style="color: #5E2B0C;">企业文化</a>
							</div>
							<div class="content">
								<div class="content_text">
									<p>拙琢实木家具有限公司重视技术，不尚空谈倡导脚踏实地为顾客服务，实实在在完成客户需求。让所有员工热爱自己的工作。同时，我们也望给予员工持续培训和自我挑战的机会，使每位员工可以在工作中不断学习成长。</p>
									<p>拙琢实木家具有限公司，我们的价值观以技术和服务为基础、重质量求立身、具创新寻发展、树诚信致长存。</p>
									<p>拙琢实木家具有限公司六个价值观对于我们如何经营业务、招揽人才、考核员工方面扮演着重要的角色，该六个价值观为：稳定可持续发展慎行稳进，利惠千秋追求领先不甘人后，促己争先创造品牌未登高楼，奋斗不止快乐活力乐观积极，活力永驻值得信赖诚信守诺，以赖长存相互尊重平等互惠，相敬相依</p>
								</div>
								<div class="pic">
									<ul class="clearfix">
										<li>
											<img src="/static/img/team.jpg" width="100%" height="100%"  />
											<span class="title">团结的整体</span>
										</li>
										<li>
											<img src="/static/img/server.jpg" width="100%" height="100%"  />
											<span class="title">友好的服务</span>
										</li>
										<li>
											<img src="/static/img/prower.png" width="100%" height="100%"  />
											<span class="title">强大的实力</span>
										</li>
										<li>
											<img src="/static/img/travel.png" width="100%" height="100%"  />
											<span class="title">丰富的活动</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;">
						<div class="text">
							<div class="nav_title">
								<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="#">公司介绍</a>&nbsp;>&nbsp;<a href="#" style="color: #5E2B0C;">公司理念</a>
							</div>
							<div class="content">
								<p>诚信：“诚信面对消费者，质量再提高，服务再完善”作为本公司持久经营的理念，影响着一代又一代的员工分发进取。良好的企业需要科学的管理，科学发展作为我们国家重大战略理想，具有强大的生命力。诚信为本，质量为纲，服务促进经营的理念将指引企业扬帆起航</p>
								<p>创新：以新的眼光，新的思维，新的方法，战略性的指导各项工作的开展</p>
								<p>三高：高效率，高效益，高境界</p>
								<p>四大一小：企业利益最大化；股东利益最大化；用户满意度最大化；顾客价值最大化；企业风险最小化。</p>
								<img src="/static/img/concept.jpg"  class="concept" width="100%" height="100%"/>
							</div>
						</div>
					</div>
					<div style="display: none;">
						<div class="text">
							<div class="nav_title">
								<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="#">公司介绍</a>&nbsp;>&nbsp;<a href="#" style="color: #5E2B0C;">荣誉资质</a>
							</div>
							<div class="content">
								<div class="honor">
									<span class="title">荣誉证书</span>
									<ul>
										<li>
											<img src="/static/img/honor/honor1.jpg" width="100%" height="100%" />
										</li>
										<li>
											<img src="/static/img/honor/honor2.jpg" width="100%" height="100%" />
										</li>
										<li>
											<img src="/static/img/honor/honor3.jpg" width="100%" height="100%" />
										</li>
										<li>
											<img src="/static/img/honor/honor4.jpg" width="100%" height="100%" />
										</li>
										<li>
											<img src="/static/img/honor/honor5.jpg" width="100%" height="100%" />
										</li>
										<li>
											<img src="/static/img/honor/honor6.jpg" width="100%" height="100%" />
										</li>
									</ul>
								</div>
								<div class="course">
									<span class="title">发展历程</span>
									<ul>
										<li>1997&nbsp;&nbsp;挫啄产品正式进入中国市场</li>
										<li>1998&nbsp;&nbsp;获得中国营业执照，在广州登记注册成立有限责任公司</li>
										<li>1999&nbsp;&nbsp;获得ISO9001质量管理和ISO14001环境体系认证</li>
										<li>2000&nbsp;&nbsp;成为全球主要OEM客户的核心合作伙伴</li>
										<li>2001&nbsp;&nbsp;挫啄产品正式进入中国市场</li>
										<li>2002&nbsp;&nbsp;获得中国营业执照，在广州登记注册成立有限责任公司</li>
										<li>2003&nbsp;&nbsp;获得ISO9001质量管理和ISO14001环境体系认证</li>
										<li>2004&nbsp;&nbsp;成为全球主要OEM客户的核心合作伙伴</li>
									</ul>
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- container end -->
		<!-- footer begin -->
		{include file="../application/index/view/Index/footer.html"}
		<!-- <script>
			$(document).ready(function(e){
				$("#footer").load("footer.html");
			});
		</script>
		<div id="footer"></div> -->
		<!-- footer end -->
	</body>
</html>
